body {
  background-color: #015955;
}

* {
  color: #fff;
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.app_wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  grid-gap: 15px;
  row-gap: 30px;
}

.header,
.nav_bar,
.main {
  padding: 15px;
  border-radius: 20px;
  background-color: #ffffff2b;
}

.header {
  grid-column: 1 / 13;
}

.nav_bar {
  grid-column: 1 / 4;
}

.main {
  grid-column: 4 / 13;
}

.container {}

/* ++++++++++++++++++++++++++++++++++ header ++++++++++++++++++++++++++++++++++ */

.header {
  display: grid;
  grid-template-columns: .1fr 1fr;
  align-items: center;
}

.logo {
  /* justify-self: center; */
  width: 80px;
  height: 80px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}

.logo img {
  width: 150%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}